doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.2.0-dist/css/bootstrap.min.css')

    nav.navbar.navbar-static-top.navbar-default
      .container


      

    body
    block content